<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <p>
        作者姓名：<input type="text" name="author_name" value="{{ author_obj.name }}">
    </p>
    <p>
        代表作：
        <select name="book_ids" id="" multiple>
            {% for book in all_books %}
                {% if book in  author_obj.books.all %}
                    <option selected value="{{ book.pk }}">{{ book.name }}</option>
                {% endif %}
                <option value="{{ book.pk }}">{{ book.name }}</option>
            {% endfor %}
        </select>

    </p>

    <button>提交</button>
</form>

</body>
</html>