{% extends 'publisher_list.html' %}
{% block main %}
    <h2 class="sub-header">书籍列表</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>id</th>
                <th>书名</th>
                <th>出版社</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for book in all_books %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ book.pk }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.publisher.name }}</td>
                    <td>
                        <button url="{% url 'del' 'book' book.pk %}" class="btn btn-danger btn-sm">删除</button>
{#                        <a class="btn btn-danger btn-sm" href="{% url 'del' 'book' book.pk %}">删除</a>#}
                        <a class="btn btn-primary btn-sm" href="/book_edit/?id={{ book.pk }}">编辑</a>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}
{% block book_active %}
    active
{% endblock %}
{% block pub_active %}

{% endblock %}