
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

      {% load static %}
      <link href="{% static 'css/blog.css' %}" rel="stylesheet">


  </head>

  <body>

{% include 'nav.html' %}

    <div class="container">

      <div class="blog-header">
        <h1>{{article_obj.title}}</h1>
        <p class="lead blog-description">{{article_obj.detail.content|safe}}</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
            {% for article in all_article %}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ article.title }}</h2>
            <p class="blog-post-meta">{{ article.creat_time }} by {{ article.author.username }}
              <p>{{article.abstract}}</p>
          </div><!-- /.blog-post -->
            {% endfor %}

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->


      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
